<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sideris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Sideris.SiderisService.SiderisService" value="http://localhost:13060/SiderisServer/SiderisService.asmx" />
  </appSettings>
  <userSettings>
    <Sideris.Properties.Settings>
      <setting name="DiscoveryServer" serializeAs="String">
        <value>yoda:13060</value>
      </setting>
      <setting name="SharedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeSubfolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="ComputerName" serializeAs="String">
        <value>Sideris</value>
      </setting>
      <setting name="DownloadsFolder" serializeAs="String">
        <value>C:\Downloads</value>
      </setting>
    </Sideris.Properties.Settings>
  </userSettings>
</configuration>